<?xml version="1.0" encoding="UTF-8"?>
<sources xmlns="http://s8.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://s8.com schema.xsd">
	<root-web-path>s8-io-bohr-atom/</root-web-path>
	<html-filter cache="DEBUG" frag-length="1024">
		<pattern>**.html</pattern>
	</html-filter>
	<css-filter cache="DEBUG" frag-length="1024">
		<pattern>**.css</pattern>
	</css-filter>
	<js-filter cache="DEBUG" frag-length="1024">
		<pattern>**.js</pattern>
	</js-filter>
	<png-filter cache="STABLE" frag-length="65536">
		<pattern>**.png</pattern>
	</png-filter>
	<jpg-filter cache="STABLE" frag-length="65536">
		<pattern>**.{jpg,jpeg}</pattern>
	</jpg-filter>
	<svg-filter cache="STABLE" frag-length="65536">
		<pattern>**.svg</pattern>
	</svg-filter>
</sources>